<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="font-size: 15px;">
    <a class="navbar-brand  " href="#" style="color:aqua;"><b style="font-size: 15px;"> HAFC Bank Pvt.Ltd
        </b></a>
        <span id="s1" class="quote text-light">Welcome {{user}}</span>

        <!-- <h1 style="color: white;">Welcome {{user}}</h1> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item active ">
                <a id="a7" class="nav-link" routerLink='/transaction'>Transaction History</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link text-primary " (click)="logout()"><i class="fa fa-power-off fa-lg "></i></a>
            </li>

        </ul>

    </div>
</nav>


<!-- content -->
<!-- deposit form -->
<div class="container col-md-12 mt-3">
    <div class="d-flex justify-content-center h-50">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center text-light">Deposit</h4>

            </div>
            <div class="card-body">
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="acno" formControlName="acno" type="text" class="form-control"
                            placeholder="account number" id="login_accno" required>
                    </div>
                    <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors" style="color: rgb(255, 0, 0);">Invalid Account Number</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="pswd" formControlName="pswd" type="password" class="form-control"
                            placeholder="password" id="login_password" required>
                    </div>
                    <div *ngIf="this.depositForm.get('pswd')?.touched&&this.depositForm.get('pswd')?.errors" style="color: rgb(255, 0, 0);">Invalid Password</div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-sack-dollar"></i></span>
                        </div>
                        <input name="amount" formControlName="amount" type="text" class="form-control" placeholder="Amount"
                            id="login_amount" required>
                    </div>
                    <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors" style="color: rgb(255, 0, 0);">Invalid Amount</div>


                    <div class="form-group">
                        <input type="submit" value="Deposit" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- withdrawal form -->
<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-50">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center text-light">Withdrawal</h4>

            </div>
            <div class="card-body">
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input name="acno" formControlName="acno" type="text" class="form-control"
                            placeholder="Account Number" id="login_accno1" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('acno')?.touched&&this.withdrawForm.get('acno')?.errors" style="color: rgb(255, 0, 0);">Invalid Account Number</div>


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input name="pswd" formControlName="pswd" type="password" class="form-control"
                            placeholder="Password" id="login_password1" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('pswd')?.touched&&this.withdrawForm.get('pswd')?.errors" style="color: rgb(255, 0, 0);">Invalid Password</div>


                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa-solid fa-sack-dollar"></i></span>
                        </div>
                        <input name="amount" formControlName="amount" type="text" class="form-control"
                            placeholder="Amount" id="login_amount1" required>
                    </div>
                    <div *ngIf="this.withdrawForm.get('amount')?.touched&&this.withdrawForm.get('amount')?.errors" style="color: rgb(255, 0, 0);">Invalid Amount</div>


                    <div class="form-group">
                        <input type="submit" value="Withdraw" class="btn float-right login_btn " style="width:50%">
                    </div>
                </form>
            </div>
            <div class="row">
                <div style="color: rgb(84, 162, 162);" class="col-sm-12 text-center ">
                    Logged in on : {{lDate | date : 'medium'}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <footer>
<h4>login details</h4>
</footer> -->

<!-- <div class="container">
   
</div> -->